:root{
    /*
    antes cardHeight 15vw
    e cardWidth 9vw
    */
    --cardHeight: 10vw;
    --cardWidth: 6vw;
    --firstAndLastCardColumnWidth:12.5%;
    --cardMidleColumnsWidth: 25%;
    --cardMidleColumnsHeight:90%;
}

p.cardNumber{
    font-size: calc(var(--cardWidth) / 6);
    color: red;
    margin: 0;
}

.hearts,
.diamonds,
.clubs,
.spades{
width: 90%;
}

.king{
    width: 190%;
}

.queen{
    width: 300%;
}

.jack{
    width: 350%;
}

.itensUpsideDown{
    transform: rotate(180deg);
}

.heartsuit,
.diamondSuit,
.clubsSuit,
.spadesSuit{
    display: flex;
    flex-wrap: nowrap;
}



.cardContainer{
    padding: 0.5%;
    display: flex;
    margin: 0.3vw;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    border: 3px solid red; 
    height: var(--cardHeight);
    width: var(--cardWidth);
    border-radius: 5%;
}

img[data-specialHeart="1"]{
    position: relative;
    bottom: 25%;
}

.card-column-small,
.card-column-medium,
.card-column-middle
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--firstAndLastCardColumnWidth);
}

.card-column-small{
    width: var(--firstAndLastCardColumnWidth);
}

.card-column-middle{
    justify-content: space-around;
    align-self: center;
    height: var(--cardMidleColumnsHeight);
    width: var(--cardMidleColumnsWidth);
}

.card-column-medium{
    justify-content: space-between;
    align-self: center;
    height: var(--cardMidleColumnsHeight);
    width: var(--cardMidleColumnsWidth);
}

.Column-reversed{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: var(--firstAndLastCardColumnWidth);
}